* {
    font-family: 'Raleway', sans-serif;
    color: #212125;
}

body {
    background-color: #f6f5f0;
    margin: 0px;
}


/**
************************************************** 
*****************   Page   **********************
**************************************************
*/


.main-container {
    /*height: 100vh;*/
    display: grid;
    grid-template-rows: 66px 1fr 50px;
}

/**
************************************************** 
*****************   MAIN   **********************
**************************************************
*/

main {
    display: grid;
    grid-template-rows: 500px 660px 500px;
}

/* = = = = = ABOUT = = = = = =*/

.landing {
    position: relative;
    background-color: #f6da73;

}

.landing span {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    top: 30px;
    left: 230px;
}

.landing h1 {
    text-transform: uppercase;
    text-align: center;
}

/* = = = = = ABOUT - Window = = = = = =*/
.window {
    position: absolute;
    border-top: 10px solid #f6f5f0;
    border-radius: 2%;

    width: 500px;
    height: 300px;
    background-color: #3e5336;

    left: 30%;
    top: 20%;
}

.window div {
    position: absolute;
    border-left: 2px solid #f6f5f0;
    border-right: 2px solid #f6f5f0;
    border-radius: 3%;
    height: 3px;
    background-color: #f6f5f0;
    opacity: 0.5;
    left: 5px;
}

.window div:nth-child(1) {
    width: 36%;
    top: 30px;
}

.window div:nth-child(2) {
    width: 38%;
    top: 20px;
}

.window div:nth-child(3) {
    width: 87%;
    top: 50px;
}

.window div:nth-child(4) {
    width: 78%;
    top: 70px;
}

.window div:nth-child(5) {
    width: 51%;
    top: 120px;
}

.window div:nth-child(6) {
    width: 36%;
    top: 130px;
}

.window div:nth-child(7) {
    width: 38%;
    top: 150px;
}

.window div:nth-child(8) {
    width: 87%;
    top: 170px;
}

.window div:nth-child(9) {
    width: 78%;
    top: 210px;
}

.window div:nth-child(10) {
    width: 51%;
    top: 250px;
}

.window>.button {

    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    opacity: 1;
    top: -9px;

}

.window>.button.red {
    background-color: #b51313;
}

.window>.button.yellow {
    background-color: #d8c627;
    left: 17px;
}

.window>.button.green {
    background-color: #068406;
    left: 30px;
}

/* = = = = = ABOUT = = = = = =*/

.about {
    color: #3e5336;
    padding: 50px;
    position: relative;
    text-align: center;
}

.about-container {
    text-align: left;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-gap: 25px;
}

.about div,
h1 {

    font-family: 'Source Sans Pro',
        sans-serif;
}

/* = = = = = SKILLS  = = = = = =*/

.skills h1 {
    text-align: center;
    text-transform: uppercase;
}

div.skills-container ul:nth-child(1) {
    grid-area: listone;
}

div.skills-container ul:nth-child(2) {
    grid-area: listtwo;
}

.skills-container {
    display: grid;
    grid-template-areas: '. listone listtwo .';
    grid-template-columns: 35% 15% 15% 35%;
}

.skills-container li {
    font-family: 'Source Sans Pro', sans-serif;
}

/**
************************************************** 
*****************   NAV   **********************
**************************************************
*/

.name {
    grid-area: name;
    margin: auto;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.menu {
    position: relative;
}

.menu:hover {
    cursor: pointer;
}


.nav-container {
    display: grid;
    grid-template-areas: '. . . . . . name . . . . . menu';
}

/* ======== MENU TOOLTIP ========= */
.menu-tooltip {
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: red;
    top: 100%;
    right: 50%;

    display: none;
}


.menu-tooltip:after {
    content: "";
}

/**
************************************************** 
*****************   ICONS   **********************
**************************************************
*/

.menu {
    grid-area: menu;
}

ul.nav-container li {
    list-style-type: none;
}

.icon-bars {
    background: url("../img/icons/menu-bars.png");
    background-repeat: no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10%;
    top: -2%;
}

/**
************************************************** 
*****************   FOOTER   **********************
**************************************************
*/

.copyright {
    grid-area: c;
}

.contact-footer {
    grid-area: ct;
}

footer div a {
    text-decoration: none;
    color: inherit;
}

footer {
    display: grid;
    grid-template-areas: 'c . . . . . . . . . . . ct';
    border-top: 1px solid #cfd4d6;
}

footer>div {
    margin: auto;
}

/**
************************************************** 
*****************   CANVAS   **********************
**************************************************
*/
canvas#little_canvas {
    border: 2px solid #c1c1c1;
    margin-top: 30px;
    background-color: #aeadad;
}