@mixin mb {
  margin-bottom: 1rem !important;
}

@mixin mt {
  margin-top: 1rem !important;
}

@mixin ml {
  margin-left: 1rem !important;
}

@mixin mr {
  margin-right: 1rem !important;
}

@mixin mt-lg {
  margin-top: 2rem !important;
}

@mixin mb-lg {
  margin-bottom: 2rem !important;
}

@mixin ml-lg {
  margin-left: 2rem !important;
}

@mixin mr-lg {
  margin-right: 2rem !important;
}

@mixin pd-t {
  padding-top: 1rem !important;
}

@mixin pd-b {
  padding-bottom: 1rem !important;
}

@mixin pd-l {
  padding-left: 1rem !important;
}

@mixin pd-r {
  padding-right: 1rem !important;
}

@mixin pd-b-lg {
  padding-bottom: 2rem !important;
}

@mixin pd-t-lg {
  padding-top: 2rem !important;
}

@mixin pd-l-lg {
  padding-left: 2rem !important;
}

@mixin pd-r-lg {
  padding-right: 2rem !important;
}
