$yellow100: #eae2b7;
$yellow200: #fcbf49;
$orange500: #f77f00;
$red500: #d62828;
$darkBlue: #003049;

$gray50: #f9fafb;
$gray100: #f3f4f6;
$gray200: #e5e7eb;
$gray300: #d1d5db;
$gray400: #9ca3af;
$gray500: #6b7280;
$gray600: #4b5563;
$gray700: #374151;
$gray800: #1f2937;
$gray900: #111827;

// All the variables are defined here
$primary: $gray600;
$secondary: $gray500;
$success: $gray400;
$info: $gray300;
$warning: $gray300;
$danger: $gray900;
$light: $gray100;
$dark: $gray800;
$white: $gray50;
$transparent: transparent;

// variables for sizes

$s16px: 1rem;
$s24px: 1.5rem;
$s32px: 2rem;
$s40px: 2.5rem;
$s48px: 3rem;
$s56px: 3.5rem;
$s64px: 4rem;
$s72px: 4.5rem;
$s80px: 5rem;
$s88px: 5.5rem;
$s96px: 6rem;
$s104px: 6.5rem;
$s112px: 7rem;
$s120px: 7.5rem;
$s128px: 8rem;
$s136px: 8.5rem;
$s144px: 9rem;

// variables for screen breakpoints
$breakpoint-mobile: 320px;
$breakpoint-large-mobile: 520px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1440px;
