@import '../abstracts/abstracts';
// Maps for width and height sizes
$sizes: (
  'full': 100%,
  'half': 50%,
  'third': 33.3333333333%,
  'quarter': 25%,
  'fifth': 20%,
  'sixth': 16.6666666667%,
  'seventh': 14.2857142857%,
  'eighth': 12.5%,
  'ninth': 11.1111111111%,
  'tenth': 10%,
);

// Iterate over the map and generate width and height classes for each size as well as a responsive version of each
@each $size, $value in $sizes {
  .w-#{$size} {
    width: $value !important;
  }
  .h-#{$size} {
    height: $value !important;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    .sm-w--#{$size} {
      width: $value !important;
    }
    .sm-h--#{$size} {
      height: $value !important;
    }
  }
}
