// A mixin for a reusable button
@mixin button(
  $color,
  $background-color,
  $border-color,
  $hover-color,
  $hover-background-color,
  $hover-border-color
) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
  &:hover {
    color: $hover-color;
    background-color: $hover-background-color;
    border-color: $hover-border-color;
  }
  padding: 0.5rem 1rem;
  position: relative;
  border: solid 1px;
  margin-bottom: $s16px;
  text-decoration: none;

  .button-link {
    color: $color;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include bg-color-animation($hover-background-color, $hover-color, $hover-border-color);
}

.button {
  @include button(
    $color: $gray800,
    $background-color: $gray100,
    $border-color: $gray400,
    $hover-color: $gray100,
    $hover-background-color: $gray800,
    $hover-border-color: $gray50
  );
}

.button-demo {
  @include button(
    $color: $gray800,
    $background-color: $gray300,
    $border-color: $gray900,
    $hover-color: $gray100,
    $hover-background-color: $gray800,
    $hover-border-color: $gray50
  );
}
