.card {
  @include box;
  border: 2px solid $gray50;
  padding: $s16px;
  border-radius: 10px;
  width: 100%;
  position: relative;
  background-color: white;
  @include border-color($gray300);

  .card-title {
    font-size: $s24px;
    font-weight: 600;
    margin-bottom: $s16px;
    width: 100%;
  }

  .card-body {
    .card-text {
      font-size: $s16px;
      font-weight: 400;
      margin-bottom: $s16px;
      width: 100%;
    }

    @include line-height($s32px);
    width: 100%;
  }

  // .card-link::after {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  // }

  .desc-title {
    font-size: $s24px;
    font-weight: bold;
    width: 100%;
    text-transform: capitalize;

    .desc-data {
      font-size: $s16px;
      font-weight: 400;
      margin-bottom: $s16px;
      width: 100%;
    }
  }
}

// Lift the card and show box shadow when hovered over it and when it is active (clicked) or focused (tabbed to) with a transition animation for smoothness and to avoid the "jerk" effect
.card:hover,
.card:focus,
.card:active {
  @include lift-animation;
}

@media screen and (min-width: $breakpoint-tablet) {
  .card {
    max-width: 48%;
  }
}
