*, *:before, *:after {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

.block{
	position: fixed;
	width:  250px;
	height: 250px;
	top: 270px;
	left: 230px;
}

.row{
	position: relative;
	width:  100%;
	height: 6.25%;
}

.column{
	float:left;
	height: 100%;
	width: 6.25%;
}

/*row1*/
#row-1 #col-14{
	background-color:#e19d2f;
}

#row-1 #col-15{
	background-color:#e19d2f;
}

#row-1 #col-16{
	background-color:#e19d2f;
}


/*row2*/

#row-2 #col-7{
	background-color:#ac2e2a;
}

#row-2 #col-8{
	background-color:#ac2e2a;
}

#row-2 #col-9{
	background-color:#ac2e2a;
}

#row-2 #col-10{
	background-color:#ac2e2a;
}

#row-2 #col-11{
	background-color:#ac2e2a;
}

#row-2 #col-14{
	background-color:#e19d2f;
}

#row-2 #col-15{
	background-color:#e19d2f;
}

#row-2 #col-16{
	background-color:#e19d2f;
}

/*row3*/
#row-3 #col-6{
	background-color:#ac2e2a;
}

#row-3 #col-7{
	background-color:#ac2e2a;
}
#row-3 #col-8{
	background-color:#ac2e2a;
}
#row-3 #col-9{
	background-color:#ac2e2a;
}
#row-3 #col-10{
	background-color:#ac2e2a;
}
#row-3 #col-11{
	background-color:#ac2e2a;
}

#row-3 #col-12{
	background-color:#ac2e2a;
}

#row-3 #col-13{
	background-color:#ac2e2a;
}

#row-3 #col-14{
	background-color:#ac2e2a;
}
#row-3 #col-15{
	background-color:#e19d2f;
}
#row-3 #col-16{
	background-color:#e19d2f;
}

/*row4*/
#row-4 #col-6{
	background-color:#686d10;
}

#row-4 #col-7{
	background-color:#686d10;
}
#row-4 #col-8{
	background-color:#686d10;
}
#row-4 #col-9{
	background-color:#e19d2f;
}
#row-4 #col-10{
	background-color:#e19d2f;
}
#row-4 #col-11{
	background-color:#686d10;
}

#row-4 #col-12{
	background-color:#e19d2f;
}


#row-4 #col-14{
	background-color:#686d10;
}
#row-4 #col-15{
	background-color:#686d10;
}
#row-4 #col-16{
	background-color:#686d10;
}

/*row5*/
#row-5 #col-5{
	background-color:#686d10;
}

#row-5 #col-6{
	background-color:#e19d2f;
}

#row-5 #col-7{
	background-color:#686d10;
}

#row-5 #col-8{
	background-color:#e19d2f;
}

#row-5 #col-9{
	background-color:#e19d2f;
}

#row-5 #col-10{
	background-color:#e19d2f;
}

#row-5 #col-11{
	background-color:#686d10;
}

#row-5 #col-12{
	background-color:#e19d2f;
}

#row-5 #col-13{
	background-color:#e19d2f;
}

#row-5 #col-14{
	background-color:#686d10;
}

#row-5 #col-15{
	background-color:#686d10;
}

#row-5 #col-16{
	background-color:#686d10;
}

/*row6*/
#row-6 #col-5{
	background-color:#686d10;
}

#row-6 #col-6{
	background-color:#e19d2f;
}

#row-6 #col-7{
	background-color:#686d10;
}

#row-6 #col-8{
	background-color:#686d10;
}

#row-6 #col-9{
	background-color:#e19d2f;
}

#row-6 #col-10{
	background-color:#e19d2f;
}

#row-6 #col-11{
	background-color:#e19d2f;
}

#row-6 #col-12{
	background-color:#686d10;
}

#row-6 #col-13{
	background-color:#e19d2f;
}

#row-6 #col-14{
	background-color:#e19d2f;
}

#row-6 #col-15{
	background-color:#e19d2f;
}

#row-6 #col-16{
	background-color:#686d10;
}

/*row7*/
#row-7 #col-5{
	background-color:#686d10;
}

#row-7 #col-6{
	background-color:#686d10;
}

#row-7 #col-7{
	background-color:#e19d2f;
}

#row-7 #col-8{
	background-color:#e19d2f;
}

#row-7 #col-9{
	background-color:#e19d2f;
}

#row-7 #col-10{
	background-color:#e19d2f;
}

#row-7 #col-11{
	background-color:#686d10;
}

#row-7 #col-12{
	background-color:#686d10;
}

#row-7 #col-13{
	background-color:#686d10;
}

#row-7 #col-14{
	background-color:#686d10;
}

#row-7 #col-15{
	background-color:#686d10;
}

/*row8*/

#row-8 #col-7{
	background-color:#e19d2f;
}

#row-8 #col-8{
	background-color:#e19d2f;
}

#row-8 #col-9{
	background-color:#e19d2f;
}

#row-8 #col-10{
	background-color:#e19d2f;
}

#row-8 #col-11{
	background-color:#e19d2f;
}

#row-8 #col-12{
	background-color:#e19d2f;
}

#row-8 #col-13{
	background-color:#e19d2f;
}

#row-8 #col-14{
	background-color:#686d10;
}

/*row9*/

#row-9 #col-3{
	background-color:#686d10;
}

#row-9 #col-4{
	background-color:#686d10;
}

#row-9 #col-5{
	background-color:#686d10;
}

#row-9 #col-6{
	background-color:#686d10;
}
#row-9 #col-7{
	background-color:#686d10;
}

#row-9 #col-8{
	background-color:#ac2e2a;
}

#row-9 #col-9{
	background-color:#686d10;
}

#row-9 #col-10{
	background-color:#686d10;
}

#row-9 #col-11{
	background-color:#686d10;
}

#row-9 #col-12{
	background-color:#ac2e2a;
}

#row-9 #col-13{
	background-color:#686d10;
}

/*row10*/

#row-10 #col-2{
	background-color:#686d10;
}

#row-10 #col-3{
	background-color:#686d10;
}

#row-10 #col-4{
	background-color:#686d10;
}

#row-10 #col-5{
	background-color:#686d10;
}

#row-10 #col-6{
	background-color:#686d10;
}
#row-10 #col-7{
	background-color:#686d10;
}

#row-10 #col-8{
	background-color:#686d10;
}

#row-10 #col-9{
	background-color:#ac2e2a;
}

#row-10 #col-10{
	background-color:#686d10;
}

#row-10 #col-11{
	background-color:#686d10;
}

#row-10 #col-12{
	background-color:#686d10;
}

#row-10 #col-13{
	background-color:#ac2e2a;
}

#row-10 #col-16{
	background-color:#686d10;
}

/*row11*/

#row-11 #col-1{
	background-color:#e19d2f;
}

#row-11 #col-2{
	background-color:#e19d2f;
}

#row-11 #col-3{
	background-color:#686d10;
}

#row-11 #col-4{
	background-color:#686d10;
}

#row-11 #col-5{
	background-color:#686d10;
}

#row-11 #col-6{
	background-color:#686d10;
}
#row-11 #col-7{
	background-color:#686d10;
}

#row-11 #col-8{
	background-color:#686d10;
}

#row-11 #col-9{
	background-color:#ac2e2a;
}

#row-11 #col-10{
	background-color:#ac2e2a;
}

#row-11 #col-11{
	background-color:#ac2e2a;
}

#row-11 #col-12{
	background-color:#ac2e2a;
}

#row-11 #col-13{
	background-color:#ac2e2a;
}

#row-11 #col-16{
	background-color:#686d10;
}

/*row12*/

#row-12 #col-1{
	background-color:#e19d2f;
}

#row-12 #col-2{
	background-color:#e19d2f;
}

#row-12 #col-3{
	background-color:#e19d2f;
}

#row-12 #col-4{
}

#row-12 #col-5{
	background-color:#ac2e2a;
}

#row-12 #col-6{
	background-color:#ac2e2a;
}
#row-12 #col-7{
	background-color:#686d10;
}

#row-12 #col-8{
	background-color:#ac2e2a;
}

#row-12 #col-9{
	background-color:#ac2e2a;
}

#row-12 #col-10{
	background-color:#e19d2f;
}

#row-12 #col-11{
	background-color:#ac2e2a;
}

#row-12 #col-12{
	background-color:#ac2e2a;
}

#row-12 #col-13{
	background-color:#e19d2f;
}

#row-12 #col-14{
	background-color:#ac2e2a;
}

#row-12 #col-15{
	background-color:#686d10;
}

#row-12 #col-16{
	background-color:#686d10;
}

/*row13*/

#row-13 #col-2{
	background-color:#e19d2f;
}


#row-13 #col-4{
	background-color:#686d10;
}

#row-13 #col-5{
	background-color:#ac2e2a;
}

#row-13 #col-6{
	background-color:#ac2e2a;
}
#row-13 #col-7{
	background-color:#ac2e2a;
}

#row-13 #col-8{
	background-color:#ac2e2a;
}

#row-13 #col-9{
	background-color:#ac2e2a;
}

#row-13 #col-10{
	background-color:#ac2e2a;
}

#row-13 #col-11{
	background-color:#ac2e2a;
}

#row-13 #col-12{
	background-color:#ac2e2a;
}

#row-13 #col-13{
	background-color:#ac2e2a;
}

#row-13 #col-14{
	background-color:#ac2e2a;
}

#row-13 #col-15{
	background-color:#686d10;
}

#row-13 #col-16{
	background-color:#686d10;
}

/*row14*/

#row-14 #col-3{
	background-color:#686d10;
}

#row-14 #col-4{
	background-color:#686d10;
}

#row-14 #col-5{
	background-color:#686d10;
}

#row-14 #col-6{
	background-color:#ac2e2a;
}
#row-14 #col-7{
	background-color:#ac2e2a;
}

#row-14 #col-8{
	background-color:#ac2e2a;
}

#row-14 #col-9{
	background-color:#ac2e2a;
}

#row-14 #col-10{
	background-color:#ac2e2a;
}

#row-14 #col-11{
	background-color:#ac2e2a;
}

#row-14 #col-12{
	background-color:#ac2e2a;
}

#row-14 #col-13{
	background-color:#ac2e2a;
}

#row-14 #col-14{
	background-color:#ac2e2a;
}

#row-14 #col-15{
	background-color:#686d10;
}

#row-14 #col-16{
	background-color:#686d10;
}
/*row15*/



#row-15 #col-2{
	background-color:#686d10;
}

#row-15 #col-3{
	background-color:#686d10;
}

#row-15 #col-4{
	background-color:#686d10;
}

#row-15 #col-5{
	background-color:#ac2e2a;
}

#row-15 #col-6{
	background-color:#ac2e2a;
}
#row-15 #col-7{
	background-color:#ac2e2a;
}

#row-15 #col-8{
	background-color:#ac2e2a;
}

#row-15 #col-9{
	background-color:#ac2e2a;
}

#row-15 #col-10{
	background-color:#ac2e2a;
}

#row-15 #col-11{
	background-color:#ac2e2a;
}

#row-15 #col-12{
	background-color:#ac2e2a;
}

/*row16*/

#row-16 #col-2{
	background-color:#686d10;
}

#row-16 #col-4{
	background-color:#ac2e2a;
}

#row-16 #col-5{
	background-color:#ac2e2a;
}

#row-16 #col-6{
	background-color:#ac2e2a;
}
#row-16 #col-7{
	background-color:#ac2e2a;
}
