// Variable for all the colors supported by background color
$bg-colors: (
  // Some color names reserved for future use
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'white': white,
  'transparent': $transparent,

  // all the gray scales
  '50': $gray50,
  '100': $gray100,
  '200': $gray200,
  '300': $gray300,
  '400': $gray400,
  '500': $gray500,
  '600': $gray600,
  '700': $gray700,
  '800': $gray800,
  '900': $gray900
);

// Iterate through the map and create a class for each color
@each $color, $value in $bg-colors {
  .bg-#{$color} {
    background-color: $value !important;
  }
  .text-#{$color} {
    color: $value !important;
  }

  .border-#{$color} {
    border-color: $value !important;
  }
}

@mixin border-color($color) {
  border-color: $color !important;
}

// Mixin for background color, color, and border color smooth animation on hover
@mixin bg-color-animation($bg-color, $color, $border-color) {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  &:hover {
    background-color: $bg-color !important;
    color: $color !important;
    border-color: $border-color !important;
  }
}
