@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$families: (
  'inter': 'Inter',
  'rubik': 'Rubik',
);

// mixin for font family
@mixin font-family($font-family) {
  font-family: $font-family;
}

// mixin for font family and weight
@mixin font($font-family, $font-weight) {
  font-family: $font-family;
  font-weight: $font-weight;
}

// For each font family, create a class with the font family name and the font weight as a class name (e.g. .inter-400)
@each $family, $name in $families {
  @each $weight in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
    .#{$family}-#{$weight} {
      @include font-family($name);
      font-weight: $weight;
    }
  }
}

@mixin bold {
  font-weight: 600;
}

.bold {
  @include bold;
}

// Map for font sizes
$font-sizes: (
  'xs': 12px,
  'sm': 14px,
  'md': 16px,
  'lg': 18px,
  'xl': 20px,
  'xxl': 24px,
  'xxxl': 28px,
  'grande': 32px,
  'grandote': 36px,
  'grandisimo': 42px,
);

// Iterate through the map and create a class for each font size

@each $size, $value in $font-sizes {
  .font-#{$size} {
    font-size: $value !important;
  }
}

// map for line heights
$line-heights: (
  '1': 16px,
  '2': 18px,
  '3': 20px,
  '4': 22px,
  '5': 24px,
  '6': 28px,
  '7': 32px,
  '8': 36px,
  '9': 40px,
  '10': 44px,
  '11': 48px,
);

// Iterate through the map and create a class for each line height size as well as a responsive version of each (e.g. .sm-line-height--lg)

@each $size, $value in $line-heights {
  .line-height-#{$size} {
    line-height: $value !important;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    .sm-line-height-#{$size} {
      line-height: $value !important;
    }
  }
}

// mixin for letter spacing and another for line height
@mixin letter-spacing($letter-spacing) {
  letter-spacing: $letter-spacing;
}

@mixin line-height($line-height) {
  line-height: $line-height;
}
