@mixin flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex {
  @include flex;
}

// mixin for flex centering
@mixin flex-center {
  justify-content: center;
  align-items: center;
}

// mixin for horizontal centering
@mixin flex-center-h {
  justify-content: center;
}

// mixin for vertical centering
@mixin flex-center-v {
  align-items: center;
}

// class for flex centering
.flex-center {
  @include flex-center;
}

// class for horizontal centering
.flex-center-h {
  @include flex-center-h;
}

// class for vertical centering
.flex-center-v {
  @include flex-center-v;
}
