header {
  text-align: center;
  background-color: $gray700;
  color: $gray300;
  .name-container {
    width: 100%;
    height: 300px;
  }
}

header.flex {
  justify-content: center;
  align-items: center;
}
