@import 'box';
@import 'flex';
@import 'header';

@mixin space-between {
  justify-content: space-between;
}

@mixin space-around {
  justify-content: space-around;
}

.space-around {
  @include space-around;
}
.space-between {
  @include space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}
